<div class="invoice">
    <div class="row">
        <div class="col"><img src=""></div>
        <div class="col" id="col1">

            <h5>Customer Name </h5>
            <p><b>Mobile :</b> +1 12345-4569</p>
            <p><b>Email :</b> customer@gmail.com</p>
            <p><b>Address :</b> New York, USA</p>

        </div>
    </div>

    <div class="row" id="col2">
        <h4>Customer Name</h4>
        <h5>Name : Harsha Avate</h5>
        <h5>Mobile : +918010526090</h5>
        <h5>Email : harshaavate@gmail.com</h5>
        <h5>Address : Yavtmal</h5>
       <div class="col" id="col3">

        <br>

        <h4> INVOICE # 1</h4>

       </div>
   </div>

    <div class="row">
       <div class="col" id="col4">
        <h4>Description</h4></div>
        <div class="col" id="col5">
            <h4>Amount</h4></div>
    </div>

    <div class="row">
        <div class="col" id="col6">
         <h4>Payment Of Octomber 2023</h4></div>
         <div class="col" id="col7">
             <h4>3500/-</h4></div>
     </div>

     <div class="row">
        <div class="col" id="col6">
         <h4>Payment Of November 2023</h4></div>
         <div class="col" id="col7">
             <h4>3500/-</h4></div>
     </div>

     <div class="row">
        <div class="col" id="col6">
         <h4>Payment Of December 2023</h4></div>
         <div class="col" id="col7">
             <h4>3500/-</h4></div>
     </div>
     
     <div class="row">
        <div class="col" id="col8">
         <h4>Description</h4></div>
         <div class="col" id="col9">
             <h4>Amount</h4></div>
</div>
